{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title 'Dashboard' %}
{% block content_title %}Dashboard{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}
{% block main %}
    <section>
        <div class="w-11/12 mx-auto">
            <h2 class="text-2xl font-medium">General Statistics</h2>
            
        </div>
    </section>
{% endblock %}